.tabbed-toc{margin:0 auto;background-color:#1E8BC3;-webkit-box-shadow:0 1px 3px rgba(0,0,0,.4);-moz-box-shadow:0 1px 3px 
rgba(0,0,0,.4);box-shadow:0 1px 3px rgba(0,0,0,.4);overflow:hidden;position:relative;color:#1E8BC3}.tabbed-toc
.loading{display:block;padding:5px 10px;font:normal  12px/;color:#000000}
.tabbed-toc li,.tabbed-toc ol,.tabbed-toc ul{margin:0;padding:0;list-style:none}.tabbed-toc .toc-tabs{width:20%;float:left}
.tabbed-toc .toc-tabs li a{display:block;font:normal  12px/28px ;height:28px;overflow:
hidden;text-overflow:ellipsis;color:#fff;text-transform:uppercase;text-decoration:none;padding:0 12px;cursor:pointer}.tabbed-toc
.toc-tabs li a:hover{background-color:#000;color:#fff}.tabbed-toc .toc-tabs li a.active-tab{background-color:#000000;
color:#fff;
-moz-box-shadow:0 0 7px rgba(0,0,0,.7);box-shadow:0 0 7px rgba(0,0,0,.7)}
.tabbed-toc .panel{position:relative;z-index:5;font:normal normal 12px/normal }.tabbed-toc 
.panel li a{display:block;position:relative;font-weight:700;font-size:12px;color:#000;line-height:20px;height:20px;
  padding:0 12px;text-decoration:none;outline:0;overflow:hidden}


.tabbed-toc .panel li .summary img.thumbnail{float:left;display:block;margin:0 8px 0 0;padding:4px;width:72px;height:72px;border
:1px solid #fff;background-color:#fff}.tabbed-toc .panel li:nth-child(even){background-color:#000}.tabbed-toc
.panel li a:focus,.tabbed-toc .panel li a:hover,.tabbed-toc .panel li a:hover time,.tabbed-toc 
.panel li.bold a{background-color:#1E8BC3;color:#fff;outline:0}.tabbed-toc .panel li.bold a:hover,.tabbed-toc .panel li
.bold a:hover time{background-color:#222}@media (max-width:700px){.tabbed-toc{border:2px solid #333}.tabbed-toc .toc-content,
.tabbed-toc .toc-tabs{overflow:hidden;width:auto;float:none;display:block}.tabbed-toc .toc-tabs li{display:inline;float:left}
.tabbed-toc .toc-tabs li a,.tabbed-toc .toc-tabs li a.active-tab{background-color:#224C19;-webkit-box-shadow:2px 0 7px
rgba(0,0,0,.4);-moz-box-shadow:2px 0 7px rgba(0,0,0,.4);box-shadow:2px 0 7px rgba(0,0,0,.4)}.tabbed-toc .toc-tabs 
li a.active-tab{background-color:#fff;color:#333}.tabbed-toc 
.toc-content{border:none}.tabbed-toc .panel li time,.tabbed-toc .toc-line{display:none}}
